<ul id="notes-listing-list">
<% @notes.each do |note| %>
	<li id="notes-listing-item-<%=note.id%>" class="notes-listing-list-items" onclick="setAsSelected(this);">
	   <a href="/notes/<%=note.id%>/edit" onclick="return openNote(this);">
		   <div id="show-notes-listing-item-<%=note.id%>" class="notes-listing-list-items-div">
			   <span class="notes-listing-list-items-title"><%=note.title%></span>
			   <br/>
			   <span class="notes-listing-list-items-date"><%= note.created_at.strftime("%A %d %B %Y") if note.created_at %></span>
			   <br/>
			   <button id="edit-note-title" onclick="return openEditNoteTitle('#edit-notes-listing-item-<%=note.id%>', '#show-notes-listing-item-<%=note.id%>', '#edit_note_<%=note.id%>');">edit</button>
		   </div>
	   </a>
	   <div id="edit-notes-listing-item-<%=note.id%>" style="display:none;">
		   <% semantic_form_for note do |form| %>
				<%= form.input :title %>
		   <% end %>
		   <a href="/notes/destroy/<%=note.id%>" onclick="return deleteNote(this, '#notes-listing-item-<%=note.id%>');">x</a>
	   </div>  
	</li>
<% end %>
</ul>

<script type="text/javascript">
	// set item as selected
	function setAsSelected(obj){
		$('.notes-listing-list-items-selected').attr('class', 'notes-listing-list-items');
		$('#' + obj.id).attr('class', 'notes-listing-list-items-selected');
		
	}
	// open edit note title
	function openEditNoteTitle(edit, show, edit_note_id){
		$(edit).css('display', 'block');
		$(show).css('display', 'none');
		$(edit_note_id).focusout(function() {
			var path = $(edit_note_id).attr("action");
			var params = $(edit_note_id).serialize();
			$.post(path, params, function(data) {
				if(data.success){
					$.get('/notes/list', function(html) {
						$('#notes-listing-body').html(html);
						$(edit).css('display', 'none');
						$(show).css('display', 'block');
					});
				}
				else
				{
					
				}
			}, "json");
			return false;
		});
	}
</script>