<ul id="notes-listing-list">
<% @notes.each do |note| %>
	<li id="notes-listing-item-<%=note.id%>" class="notes-listing-list-items">
	   <div id="edit-notes-listing-item-<%=note.id%>" class="edit-notes-listing-items">
		   <% semantic_form_for note do |form| %>
		        <img src="/images/editor_button.gif" name="editor_note" />
				<%= form.input :title %>
				<a href="/notes/destroy/<%=note.id%>" onclick="return deleteNote(this, '#edit-notes-listing-item-<%=note.id%>');">
				<img src="/images/delete_button.gif" name="delete_note" />
				</a>
		   <% end %>
	   </div>  
	</li>
<% end %>
</ul>


<script type="text/javascript">
	// set item as selected
	function setAsSelected(obj){
		$('.notes-listing-list-items-selected').attr('class', 'notes-listing-list-items');
		$('#' + obj.id).attr('class', 'notes-listing-list-items-selected');
		
	}
	// open edit note title
	function openEditNoteTitle(edit, show, edit_note_id){
		$(edit).css('display', 'block');
		$(show).css('display', 'none');
		$(edit_note_id).focusout(function() {
			var path = $(edit_note_id).attr("action");
			var params = $(edit_note_id).serialize();
			$.post(path, params, function(data) {
				if(data.success){
					$.get('/notes/list', function(html) {
						$('#notes-listing-body').html(html);
						$(edit).css('display', 'none');
						$(show).css('display', 'block');
					});
				}
				else
				{
					
				}
			}, "json");
			return false;
		});
	}
</script>